#header{
    height: 300px;
    border: 2px solid pink;
    z-index: 0;
}

#textEntry{
    margin: 100px;
}

#bodyContainer {
    border: 2px solid black;
    /*padding: 15px; /* Push everything inwards*/
    padding-bottom: 15px;

}

#intro{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* NavBar */

/* Add background color to the top navigation */
.topnav {
    background-color: transparent;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 24px;
    float: right;
    border: 2px solid purple;
    z-index: 5;
    position: relative;
}

.topnav li{
    display: inline;
    float: left;
    padding: 20px;
}


span:hover{
    border-bottom:2px solid #3498db;
    padding-bottom:3px;
}

span[id^="active"]{
    border-bottom:2px solid #3498db;
    padding-bottom:3px;
}

/* Hide link that open/closes navbar on small screen */
.topnav .icon{
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav li {display: none;}
    .topnav .icon {
      float: right;
      display: block;
    }
}

/* Hidden Side Nav */
.sidenav {
    list-style-type: none;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #232728;
    overflow-x: hidden;
    transition: 1.0s;
    padding-top: 25px;
    font-size: 25px;
    color: white;
    text-align: center;
}